* { 
    margin: 0 ;
    padding: 0;
    box-sizing: border-box ;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 1%;
    
  }
  
  .item1 {
    background-color: rgb(161, 122, 15); }
  
  .item2 {
       background-color: rgb(96, 23, 105) }
  
  .item3 { 
      background-color: rgb(14, 78, 94); }
  
  .item4 { 
      background-color: rgb(81, 102, 24) }
  
  .item5 { 
      background-color: rgb(22, 83, 99) }


      @media (min-width: 768px) {
          .container {background-color: brown;
          height: 100vh;
          display: grid;
          grid-template-columns: repeat(6,1fr);
          grid-template-rows: repeat(3,1fr);
          gap: 1%;
          

      }
      .item1 {grid-area: 1/1/3/4;
        background-color: rgb(161, 122, 15); }
      
      .item2 {grid-area: 1/4/3/7;
           background-color: rgb(96, 23, 105) }
      
      .item3 { grid-area: 3/1/3/3;
          background-color: rgb(14, 78, 94); }
      
      .item4 { grid-area: 3/3/3/5;
          background-color: rgb(81, 102, 24) }
      
      .item5 { grid-area: 3/5/3/7;
          background-color: rgb(22, 83, 99) }
     
        }
      