* { 
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
/* mobilus */
    .container {
        display: grid;
        margin: 30px;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 2% ;
        grid-auto-flow: row;
        grid-template-areas: 
    "Chicken"
    "Beef"
    "Sushi"
      }
    
      
      
     h1{ 
         text-align: center;
         color: black;
       
     }
  
     .Chicken{
        border-width: 3px;
        border-style: solid;
        border-color: black;
        background-color: rgb(122, 117, 122) }

       .chick{
          font-family: monospace;
          background-color: pink;
          font-size: 2rem;
          border-left: solid black;
          border-bottom: solid black;
          text-align: center;
          margin-left: 60%;
          
        }
  
     .Beef { 
        border-width: 3px;
        border-style: solid;
        border-color: black;
        background-color: rgb(122, 117, 122); }
      
      .beef1{
        font-family: monospace;
          background-color: rgb(209, 192, 255);
          font-size: 2rem;
          border-left: solid black;
          border-bottom: solid black;
          text-align: center;
          margin-left: 60%;
      }
  

     .Sushi { 
        border-width: 3px;
        border-style: solid;
        border-color: black;
        background-color: rgb(122, 117, 122) }

      .sushi1{
          font-family: monospace;
          background-color: rgb(209, 192, 255);
          font-size: 2rem;
          border-left: solid black;
          border-bottom: solid black;
          text-align: center;
          margin-left: 60%;
          }
    
/* plansete */
@media(min-width: 768px) and (max-width:1023px){
  .container {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows:  1fr 1fr; 
    gap: 2%; 
    width: 100%;
    height: 80vh;
    grid-template-areas: 
      "Chicken Beef"
      "Sushi Sushi"; 
  }
  .Chicken{ 
    grid-area: Chicken; 
  }
  .Beef { 
    grid-area: Beef;
  }
  .Sushi { 
    grid-area: Sushi; 
  }
  p {
    font-size:1.5rem;
  }
  
}
@media screen and (min-width: 1024px) {
  .container {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height:50vh;
    gap: 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "Chicken Beef Sushi";
  }
  .Chicken { 
    grid-area: Chicken; 
    }
  
  .Beef {
     grid-area: Beef;
  
  }
  
  .Sushi { 
    grid-area: Sushi;
  
  }
  p {
    font-size:3vh;
  }
  }
